
.section {

	margin-top: 20%;
	background-color: #FDE6C6;
  height: 130%;

}

.dropbtn {
	background-color: #FDE6C6;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	float:right;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #FDE6C6;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: brown;
}




body {
	margin: 0;
	font-family: Verdana;
	background: #FDE6C6;

}

.container {
	width: 90%;
	margin: 0 auto;
}

input[type="radio"] {
	display: none;
}

.container label {
	width: 45%;
	float: left;
	text-align: center;
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color: #222222;
	padding: 0.5%;
	margin: 0.5%;
	margin-bottom: 30px;
	border-radius: 5px;
	cursor: pointer;
}

input[type="radio"][id="blue"]:checked + label {
	background: #DEB887
}

input[type="radio"][id="blue"]:checked ~ .red,
input[type="radio"][id="blue"]:checked ~ .green {
	/* width: 0; */
	/* height: 0; */
	padding: 0;
	margin: 0;
	opacity: 0;
}

input[type="radio"][id="red"]:checked + label {
	background: #DEB887
}

input[type="radio"][id="red"]:checked ~ .blue,
input[type="radio"][id="red"]:checked ~ .green {
	/* width: 0; */
	/* height: 0; */
	padding: 0;
	margin: 0;
	opacity: 0;
}

input[type="radio"][id="green"]:checked + label {
	background: #DEB887
}

input[type="radio"][id="green"]:checked ~ .blue,
input[type="radio"][id="green"]:checked ~ .red {
	/* width: 0; */
	/* height: 0; */
	padding: 0;
	margin: 0;
	opacity: 0;
}

.tile {
	width: 21%;
	max-height: 50px;
  /* float:left; */
	display: inline-block;
	transition: all 1s;
	margin: 0.5%;
	padding: 0.5%;
}

.green {
	background: #FDE6C6;
}

.blue {
	background: #FDE6C6;
}

.red {
	background: #FDE6C6;
}

#bottle{
  width:40%;
  padding:10px;
  margin-left:100px
}


.tile li {
	color: black;
	 list-style-type: none;
	width: 300px;
	    letter-spacing: 3px;
    font-weight: 550;
    font-size: 10px;
}